body{
    background-color: #ffffff;
    overflow: hidden;
}

.movingDiv{
    position: absolute;
    z-index: -1;
    width: 500px;
    height: 500px;
    border-radius: 400px;
    opacity: 0.7;
    filter: blur(100px);
    transition: left 10s ease, top 10s ease; /* Add transitions for left and top properties */
}
.Blue{
    background-color:  #20729e;
}
.Yellow{
    background-color:  #e2d625;
}
.Red{
    background-color:  #cc1c1c;
}
.Green{
    background-color:  #438140;
}
.Purple{
    background-color:  #893bcd;
}


.title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50pt;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-image: linear-gradient(gold, gold);
    background-size: 100% 10px;
    background-repeat: no-repeat;
    background-position: 100% 0%;
     transition: background-size .7s, background-position .5s ease-in-out;
  }
  
  .title:hover {
    background-size: 100% 100%;
    background-position: 0% 100%;
    transition: background-position .7s, background-size .5s ease-in-out;
  }